---
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection, render } from "astro:content";
import CalloutBox from "~/components/CalloutBox.astro";
import Giphy from "~/components/Giphy.astro";
import Layout from "~/layouts/Layout.astro";
export async function getStaticPaths() {
  const posts: CollectionEntry<"blog">[] = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings } = await render(post);
const { title, heroImage, description, toc } = post.data;
---

<Layout title={title} description={description}>
  {
    toc && (
      <ul>
        {headings.map((h) => (
          <li>
            <a href={`#${h.slug}`}>{h.text}</a>
          </li>
        ))}
      </ul>
    )
  }
  <article>
    {
      Array.isArray(heroImage) && heroImage.length > 0 && (
        <img
          width={720}
          height={360}
          src={`/images/blog/${heroImage[0]}`}
          alt={heroImage[1]}
        />
      )
    }
    <h1 class="title">{title}</h1>
    <Content components={{ CalloutBox, Giphy, Image }} />
  </article>
</Layout>
