---
import Icon from "~/components/Icon.astro";
import type { IconLinkProps } from "~/types/Icon";

interface Props {
  item: IconLinkProps;
}

const { item } = Astro.props;
---

<a href={item.href}>
  <Icon
    icon={item.icon}
    title={item.title}
    size={item.size}
    twColor={item.twColor}
  />
</a>
