---
import type { BlogPostFrontmatter } from "~/types/BlogPost";
import type { IconListItem } from "~/types/IconList";
import BulletDivider from "./BulletDivider.astro";
import ByLine from "./ByLine.astro";
import Icon from "./Icon.astro";
import ImageCredit from "./ImageCredit.astro";

const icons: Omit<IconListItem, "href">[] = [
  {
    icon: "proicons:bluesky",
    title: "Bluesky",
    size: 24,
  },
  {
    icon: "simple-icons:threads",
    title: "Threads",
    size: 24,
  },
];

type Props = BlogPostFrontmatter;

const { pubDate, heroImageCredit, seriesName, seriesSlug, repo, shareLinks } =
  Astro.props;
---

<div class="text-gray-500 [&>*]:text-gray-500 text-sm flex items-center mt-4">
  {pubDate && <ByLine pubDate={pubDate} />}
  {
    seriesName && seriesSlug && (
      <>
        <BulletDivider />
        {
          <a href={`/blog/${seriesSlug}`} class="">
            {seriesName} Series
          </a>
        }
      </>
    )
  }
  {
    repo && (
      <>
        <BulletDivider />
        <a href={repo}>Code Repo</a>
      </>
    )
  }
  {
    heroImageCredit && (
      <>
        <BulletDivider />
        <ImageCredit heroImageCredit={heroImageCredit} />
      </>
    )
  }
  {
    shareLinks && (
      <>
        <BulletDivider />
        Share/Discuss:{" "}
        {shareLinks.map((s, index) => {
          const icon = icons[index];
          if (!icon) {
            return null;
          }
          return (
            <a href={s} class="ml-1">
              <Icon icon={icon.icon} title={icon.title} size={icon.size} />
            </a>
          );
        })}
      </>
    )
  }
</div>
