---
import { APP_ICONS } from "~/lib/icons";
import type { BlogPostFrontmatter } from "~/types/BlogPost";
import BulletDivider from "./BulletDivider.astro";
import ByLine from "./ByLine.astro";
import Icon from "./Icon.astro";
import ImageCredit from "./ImageCredit.astro";
import ShareLinks from "./ShareLinks.astro";

type Props = BlogPostFrontmatter;

const { pubDate, heroImageCredit, seriesInfo, repo, shareLinks } = Astro.props;
---

<div
  class="text-gray-500 [&>*]:text-gray-500 text-sm flex items-center justify-center mt-4"
>
  {pubDate && <ByLine pubDate={pubDate} />}
  {
    seriesInfo && (
      <>
        <BulletDivider />
        {
          <a href={`/blog/${seriesInfo[1]}`} class="">
            {seriesInfo[0]} Series
          </a>
        }
      </>
    )
  }
  {
    repo && (
      <>
        <BulletDivider />

        <a href={repo}>
          <Icon icon={APP_ICONS["github"]} size={18} /> Code Repo
        </a>
      </>
    )
  }
  {
    heroImageCredit && (
      <>
        <BulletDivider />
        <ImageCredit heroImageCredit={heroImageCredit} />
      </>
    )
  }
  {
    shareLinks && (
      <>
        <BulletDivider />
        <ShareLinks shareLinks={shareLinks} />
      </>
    )
  }
</div>
