---
import { APP_ICONS } from "~/lib/icons";
import type { BlogPostFrontmatter } from "~/types/BlogPost";
import FormattedDate from "./FormattedDate.astro";
import Icon from "./Icon.astro";
import ShareLinks from "./ShareLinks.astro";

type Props = BlogPostFrontmatter;

const { pubDate, seriesInfo, repo, shareLinks } = Astro.props;
---

<div class="text-gray-500 [&>*]:text-gray-500 text-sm flex items-center gap-5">
  {
    pubDate && (
      <div>
        <Icon icon={APP_ICONS["calendar"]} size={18} />
        <FormattedDate date={pubDate} />
      </div>
    )
  }
  {
    seriesInfo && (
      <div>
        <a href={`/blog/${seriesInfo[1]}`} class="">
          {seriesInfo[0]} Series
        </a>
      </div>
    )
  }
  {
    repo && (
      <div>
        <a href={repo}>
          <Icon icon={APP_ICONS["github"]} size={18} /> Code Repo
        </a>
      </div>
    )
  }
  {
    shareLinks && (
      <div>
        <ShareLinks shareLinks={shareLinks} />
      </div>
    )
  }
</div>
