---
import Footer from "~/components/Footer.astro";
import Link from "~/components/Link.astro";
import { SITE_TITLE } from "~/consts";
import type { PageProps } from "~/types/Page";
import BaseHead from "../components/BaseHead.astro";

type Props = PageProps;

const { title, description } = Astro.props;
const currentRoute = Astro.url.pathname;
const brandStyles = "text-slate-400 text-xl";
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <BaseHead
      title={`${title ? `${title} | ` : ""}${SITE_TITLE}`}
      description={description}
    />
  </head>
  <body class="h-full md:flex flex-col">
    <nav class="w-full flex items-center p-4">
      <div class="flex-1">
        {
          currentRoute === "/" ? (
            <div class={brandStyles}>anders.co</div>
          ) : (
            <a href="/" class={brandStyles}>
              anders.co
            </a>
          )
        }
      </div>
      <ul class="flex flex-nowrap space-x-2 mr-3">
        <li>
          <Link href="/blog">Blog</Link>
        </li>
        <li>
          <Link href="/about">About</Link>
        </li>
      </ul>
    </nav>
    <main class="md:flex-1 max-w-3xl mx-auto">
      <slot />
    </main>
    <Footer>&copy; {new Date().getFullYear()} Anders Ramsay</Footer>
  </body>
</html>
